.contents
  .contents__left
    .contents__left__top
      %h3.contents__left__top__user
        = current_user.nickname
      %p
        = link_to '', edit_user_registration_path , class: 'fa fa-cog'
        = link_to '', new_chat_group_path , class: 'fa fa-pencil-square-o'
    .contents__left__bottom
      = render partial: :chat_group, collection: @current_user_groups, as: :group
  .contents__right
    .contents__right__top
      .contents__right__top__group
        %h3.contents__right__top__group__name
          = @current_group.name
        %p.contents__right__top__group__member
          = render partial: :user, collection: @current_group_members, as: :member
      = link_to 'EDIT', edit_chat_group_path(@current_group.id) , class: 'contents__right__top__edit'
    .contents__right__center
      .contents__right__center__message
        %h3.contents__right__center__message__name メッセージ送信者名前
        %h3.contents__right__center__message__date 日付
        %h3.contents__right__center__message__text メッセージ内容
    .contents__right__bottom
      .contents__right__bottom__input type a message
      %h3.contents__right__bottom__send SEND
