.contents{ data: { chat_group_id: @current_group.id } }
  .contents__left
    .contents__left__top
      %h3.contents__left__top__user
        = current_user.nickname
      %p
        = link_to '', edit_user_registration_path , class: 'fa fa-cog'
        = link_to '', new_chat_group_path , class: 'fa fa-pencil-square-o'
    .contents__left__bottom
      = render partial: :chat_group, collection: @current_user_groups, as: :group
  .contents__right
    .contents__right__top
      .contents__right__top__group
        %h3.contents__right__top__group__name
          = @current_group.name
        %p.contents__right__top__group__member
          = render partial: :user, collection: @current_group_members, as: :member
      = link_to 'EDIT', edit_chat_group_path(@current_group) , class: 'contents__right__top__edit'
    .contents__right__center
      = render partial: :message, collection: @messages, as: :message
    .contents__right__bottom
      = form_for [@current_group, @new_message], html: { class: 'contents__right__bottom__form' } do |f|
        .contents__right__bottom__form__input
          = f.text_area :content, placeholder: 'type a message', class: '  contents__right__bottom__form__input', required: true
          =f.label :image do
            %i.fa.fa-image
          = f.file_field :image, style: "display: none;"
          = f.hidden_field :chat_group_id, value: @current_group.id
        = f.submit 'SEND', class: 'contents__right__bottom__form__send'
