.chat-group-form
  %h1 新規チャットグループ
  .new_chat_group
  = form_for @group, html: {class: 'new_chat_group'} do |f|
    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :グループ名 , class: 'chat-group-form__label',for: 'chat_group_name'
      .chat-group-form__field--right
        = f.text_area :name, placeholder: 'グループ名を入力してください。',class: ' chat-group-form__input'
    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :チャットメンバーを追加, class: 'chat-group-form__label'
      .chat-group-form__field--right
        = collection_check_boxes(:users_attributes, :user_ids, User.all, :id, :nickname) do |b|
          = b.label { b.check_box + b.text }
    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :チャットメンバー , class: 'chat-group-form__label'
      .chat-group-form__field--right
        #chat-group-users
          .chat-group-user#chat-group-user-22
            %p{class: 'chat-group-user__name' }seo_kyohei マイケル
    .chat-group-form__field
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.button value: "SAVE", type: "submit", class: "chat-group-form__action-btn"
