.chat-group-form
  %h1 新規チャットグループ
  .new_chat_group
  = form_for @group, html: {class: 'new_chat_group'} do |f|
    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :グループ名 , class: 'chat-group-form__label',for: 'chat_group_name'
      .chat-group-form__field--right
        = f.text_area :name, placeholder: 'グループ名を入力してください。',class: ' chat-group-form__input'
    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :チャットメンバーを追加, class: 'chat-group-form__label'
      .chat-group-form__field--right
        = f.text_area :name, placeholder: ' 追加したいユーザーを入力してください。',class: ' chat-group-form__input'
    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :チャットメンバー , class: 'chat-group-form__label'
      .chat-group-form__field--right
        #chat-group-users
          .chat-group-user.clearfix#chat-group-user-22
            = f.text_area :name, placeholder: 'グループ名を入力してください。',class: ' chat-group-form__input'
            %p{class: 'chat-group-user__name' }seo_kyohei
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = button_tag class: 'chat-group-form__action-btn'
