.chat-group-form
  %h1 新規チャットグループ
  .new_chat_group
  = form_for @group, html: { class: 'new_chat_group' } do |f|
    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :グループ名, class: 'chat-group-form__label', for: 'chat_group_name'
      .chat-group-form__field--right
        = f.text_area :name, placeholder: 'グループ名を入力してください。', class: ' chat-group-form__input', required: true
    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :チャットメンバーを追加, class: 'chat-group-form__label'
      .chat-group-form__field--right
        = text_field_tag :user_name,"", class: "chat-group-form__input",  id: 'user-search-field', placeholder: "Please input chat-member's name you want"
        #user-search-result
    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :チャットメンバー, class: 'chat-group-form__label'
      .chat-group-form__field--right
        #chat-group-users
          .chat-group-user
            %p.chat-group-add-user__name
              #{ current_user.nickname }
              %input{ name: "chat_group[user_ids][]", type: "hidden", value: current_user.id }
    .chat-group-form__field
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit 'SAVE', class: 'chat-group-form__action-btn'
